  {erl_opts,
 [
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record, debug_info
 ]
}.

{plugins, [rebar3_hex, rebar3_elixir]}.

%% == rebar3_elixir  ==

{elixir_bindings, [kylie, squad]}.

%% == Common Test ==

{ct_compile_opts, [ warn_unused_vars
                  , warn_export_all
                  , warn_shadow_vars
                  , warn_unused_import
                  , warn_unused_function
                  , warn_bif_clash
                  , warn_unused_record
                  , warn_deprecated_function
                  , warn_obsolete_guard
                  , strict_validation
                  , warn_export_vars
                  , warn_exported_vars
                  , warn_untyped_record
                  , debug_info]}.

{ct_opts, []}.

%% == Dependencies ==

{deps, [ {hackney, "1.10.1"}
       , {jsx, "2.8.2"}
       , {worker_pool, "3.1.0"}
       ]}.

%% == Dialyzer ==

{dialyzer, [ {warnings, [ underspecs
                        , no_return
                        , unmatched_returns
                        , error_handling
                        ]}
           , {get_warnings, true}
           , {plt_apps, top_level_deps}
           , {plt_extra_apps, []}
           , {plt_location, local}
           , {base_plt_apps, [stdlib, kernel]}
           , {base_plt_location, global}]}.

%% == Shell ==

{shell, [{apps, [kylie]}]}.
{sys_config, "config/sys.config"}.
